* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #3498db;
    margin-right: 40px;
}

.sidebar h2 {
    text-align: center;
    color: #333;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #f39c12;
    color: #fff;
}

.horizontal-bar-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border: 2px solid black;
}

.horizontal-navbar ul {
    list-style: none;
    display: flex;
}

.horizontal-navbar ul li {
    margin-right: 2px;
}

.horizontal-navbar ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #333;
    transition: background-color 0.3s;
}

.horizontal-navbar ul li a:hover {
    background-color: #f39c12; /* Orange background color on hover */
}

